<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonLabel">Create or edit a Person</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!person.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="person.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="person.email" required/>
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_firstname">Firstname</label>
            <input type="text" class="form-control" name="firstname" id="field_firstname"
                [(ngModel)]="person.firstname" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                [(ngModel)]="person.lastname" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_birthday">Birthday</label>
            <div class="d-flex">
                <input id="field_birthday" type="datetime-local" class="form-control" name="birthday" [(ngModel)]="person.birthday"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_stock">Stock</label>
            <select class="form-control" id="field_stock" name="stock" [(ngModel)]="person.stock">
                <option [ngValue]="null"></option>
                <option [ngValue]="stockOption.id === person.stock?.id ? person.stock : stockOption" *ngFor="let stockOption of stocks; trackBy: trackStockById">{{stockOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_grocerie">Grocerie</label>
            <select class="form-control" id="field_grocerie" name="grocerie" [(ngModel)]="person.grocerie">
                <option [ngValue]="null"></option>
                <option [ngValue]="grocerieOption.id === person.grocerie?.id ? person.grocerie : grocerieOption" *ngFor="let grocerieOption of groceries; trackBy: trackGrocerieById">{{grocerieOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_blackList">Black List</label>
            <select class="form-control" id="field_blackList" name="blackList" [(ngModel)]="person.blackList">
                <option [ngValue]="null"></option>
                <option [ngValue]="blackListOption.id === person.blackList?.id ? person.blackList : blackListOption" *ngFor="let blackListOption of blacklists; trackBy: trackBlackListById">{{blackListOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
