
<div *ngIf="ingredientEntry">
    <h2><span>Ingredient Entry</span> {{ingredientEntry.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Amount</span></dt>
        <dd>
            <span>{{ingredientEntry.amount}}</span>
        </dd>
        <dt><span>Unit</span></dt>
        <dd>
            <span>{{ingredientEntry.unit}}</span>
        </dd>
        <dt><span>Ingredient</span></dt>
        <dd>
            <div *ngIf="ingredientEntry.ingredient">
                <a [routerLink]="['/ingredient', ingredientEntry.ingredient?.id]">{{ingredientEntry.ingredient?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ingredient-entry/'+ ingredientEntry.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
